h1{
    color: blue;
    font-size: 24px;
    font-family: Verdana, sans-serif;
    font-style: oblique;
}

h2{
    color: #0000ff;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

h3{
    color: teal;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

p{
    color: #4D4D4D;
}

header{
    font-family: Verdana, sans-serif;
}

a{
    color: #8A2BE2;
    text-decoration: none;
}